.root {
  background-color: white;

  display: flex;
  align-items: center;
  // margin: 100px;
  // justify-content: space-around;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  // border-radius: 25px;

  p {
    font-size: 38px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  div {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
